h1 {
    text-align: center;
    font-size: 75px;
    color: rgb(5, 180, 40);
}
body {
    background-color: black;
  }
p {
   color: rgb(5, 180, 40); 
   font-size: large;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
article {
  background-color: rgba(116, 116, 177, 0.61);
  width: 500px;
  border: 2px solid blue;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  margin: auto;
}
a {
  text-align: center;
}
button {
  color: aqua;
  background-color: rgb(8, 8, 53);
  border: 2px solid black;
  border-radius: 4px;
}

