h1 {
    text-align: center;
    font-size: 75px;
    color: rgb(5, 180, 40);
}
body {
    background-color: black;
  }
p {
   color: rgb(5, 180, 40); 
   font-size: large;
   font-family: 'Courier New', Courier, monospace;
  }
article {
  background-color: solid black;
  width: 500px;
  border: 2px solid rgb(139, 204, 244);
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  margin: auto;
}
a {
  text-align: center;
}
button {
  color: aqua;
  background-color: rgb(1, 1, 16);
  border: 2px solid rgb(177, 199, 206);
  border-radius: 4px;
}

