h1 {
    text-align: center;
    font-size: 75px;
    color: rgb(175, 224, 247);
}
body {
    background-image: url('calculus.jpg');
    background-size: cover;
    background-attachment: fixed;
  }
  p{
    font-size: 25px;
    color: rgb(141, 205, 235);
  }
table {
    margin: 0;
    font-size: 25px;
    color: rgb(141, 205, 235);
}
h2 {
    font-size: 35px;
    color: rgb(175, 224, 247); 
}
